---
Language: Cpp
# BasedOnStyle:	LLVM
UseTab: Never
IndentWidth: 2
ColumnLimit: 120
BreakBeforeBraces: Custom
BraceWrapping:
  AfterNamespace:  true
  AfterFunction:   true
Cpp11BracedListStyle: true
SpaceBeforeCpp11BracedList: true
AllowAllParametersOfDeclarationOnNextLine: false